CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake-build-debug

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/**/build
/**/build.*

.tags
.vscode
.idea

# Executables
/mandelbrot
/mandelbrot-test

# Output files
/output/*.ppm
/output/*.txt

# Test output files
/tests/output/*.ppm
/tests/output/*.txt